{% extends "base/mail.twig" %}

{% block title %}<center>{{ parent() }} Mail reporting  </center>{% endblock %}
{% block content %}
       <center><table cellpadding=”0″ cellspacing=”0″ width=”300″ style="border:0">
       <tr>
	<td width="250"  style="border:0"> - Number of tests: </td>
	<td width="50" bgcolor=”#A9F5BC” align="center"><b>{{ nbTestsTotal }}</b></td>
       </tr>
       <tr>
        <td style="border:0">- Number of SUCCEED tests: </td>
        <td bgcolor="#01DF01"  align="center">{{ nbTestsOk }}</td>
       </tr>
       <tr>
	<td style="border:0">- Number of FAILED tests: </td>
        <td bgcolor="#FE642E"  align="center"><b>{{ nbTestsFailed }}</b></td>
       </tr>       
       </table>
       
       
       <br/>
       <br/>
       <h1>List of all error test:</h1>
       <br/>
       {% for testName, config in testsFailed %}
       <table cellpadding=”0″ cellspacing=”0″ width="650″ style="border:0">
       <tr>
        <td bgcolor="#FE642E" style="color:white"> - TEST NAME: <b> {{ testName }}</b></td>
       </tr>
       <tr>
        <td> - URL: <b>{{ config[0] }}</b></td>
       </tr>
        <tr>
        <td><b>{{ config[1] }}</b></td>
       </tr>
       </table>
       <br/>
       {% endfor %}


       </div>
{% endblock %}
